@model K22cntt3_pvv_project2.Models.KHACH_HANG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KHACH_HANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ho_ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ho_ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tai_khoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tai_khoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat_khau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_khau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dia_chi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia_chi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dien_thoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dien_thoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay_sinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay_sinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gioi_tinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gioi_tinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaKH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
