@model IEnumerable<K22cntt3_pvv_project2.Models.FAVORITES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KHACH_HANG.Ho_ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHIM.TenPhim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KHACH_HANG.Ho_ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHIM.TenPhim)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FavoriteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FavoriteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FavoriteID })
        </td>
    </tr>
}

</table>
