@model K22cntt3_pvv_project2.Models.QUAN_TRI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QUAN_TRI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mat_khau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_khau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tai_khoan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
