@model IEnumerable<K22cntt3_pvv_project2.Models.QUAN_TRI>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tai_khoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mat_khau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(model => item.Tai_khoan)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Mat_khau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trang_thai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Tai_khoan }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Details", "Details", new { id = item.Tai_khoan }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Tai_khoan }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
